! Default pathd configuration sample
!
password frr
log stdout
pcc ip 1.1.1.1
 pce ip 127.0.0.1 sr-draft07
!
segment-list test1
 index 10 mpls label 123
 index 20 mpls label 456
!
segment-list test2
 index 10 mpls label 321
 index 20 mpls label 654
!
sr-policy color 1 endpoint 1.1.1.1
 name one
 binding-sid 100
 candidate-path preference 100 name test1 explicit segment-list test1
 candidate-path preference 200 name test2 explicit segment-list test2
!
sr-policy color 2 endpoint 2.2.2.2
 name two
 binding-sid 101
 candidate-path preference 100 name def explicit segment-list test2
 candidate-path preference 200 name dyn dynamic metrics bound abc 16 te
!
!! Simplest PCEP config without pcep-config-group
!
!pcc-peer pce1
!  address ip 10.0.12.1
!pcc
!  peer pce1
!
!! A more complex PCEP config with a pcep-config-group
!
!pcep-config-group group1
! timer keep-alive 35
!
!pcc-peer pce1
! config-group group1
! address ip 10.0.12.1
! timer dead-timer 140
!
!pcc
! peer pce1
!
!show pcep-config-group
!show pcep-config-group default
!show pcep-config-group group1
!show pcc-peer
!show pcc-peer pce1
